In [2]:
# concatenation of string
firdt_name="Abhinav "
last_name="PAndey"
full_name=firdt_name+last_name
print(full_name)

Abhinav PAndey

In [3]:
print(full_name+str(3))

Abhinav PAndey3

In [5]:
print(full_name * 6 )# printing string multiple times

Abhinav PAndeyAbhinav PAndeyAbhinav PAndeyAbhinav PAndeyAbhinav PAndeyAbhinav PAndey

In [7]:
# user input
# input function always take input in form of string
name=input("Typr user name")
print("hello "+ name)

Typr user nameAbhinav
hello Abhinav

In [8]:
age=input("What is your age")

What is your age24

In [9]:
type(age)

str

In [10]:
int(age)

24

In [16]:
# addition of two numbers
num_1=input("Enter first number")
num_2=input("Enter second number")
total=int(num_1)+int(num_2) # typeconversion of string to int
print(total)

Enter first number4
Enter second number4
8

In [18]:
print("total is ="+str(total)) # addition of same datatypes can be done

total is =8

In [20]:
# declaring many variables in same line
name,age,sex="abhinav",20,"male"

In [26]:
print("hello" +  name + "your age is" +  str(age) + "and your sex is" + sex)

helloabhinavyour age is20and your sex ismale

In [28]:
# two or more inputs in one line
name,age=input("enter your name and age").split()

enter your name and ageabhinav 20

In [29]:
print(name)#    .split() function is used for more inputs in one single line
print(age)

abhinav
20

In [4]:
# string formatting f is used for string formatting
name="abhinav"
age=int(20)
print(f"hello {name} your age is {age}")

hello abhinav your age is 20

In [16]:
# tuples are use for heterogenous datatypes while list is use for homogeneous datatypes
# tuples are immutable datatype in python 
# elements of list are mutable while elements of tuples are immutable
# list[] tuples()
# tuples elements cannot be changed because it is immutable we cannot update the elements of the tuples
# 










a=(1,2,3,4,5)
b=len(a) # length of a tupll
type(a)

tuple

In [2]:
# accessing elements in a tuple with the help of indexing 
a[4]

5

-1

In [5]:
b=(1,2,3,4,5,6,7,8,9)
print(b)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [6]:
b[0:]

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [7]:
b[0:8] # slicing in tuple

(1, 2, 3, 4, 5, 6, 7, 8)

In [8]:
# changing a tuple 
# tuple can be reassigned a different value
print(a)

[-1]

In [9]:
a=(10,20,30,[40,50,60])
a[3][1]=55  # nested tuple
print(a)

(10, 20, 30, [40, 55, 60])

In [10]:
# concatenating two tuples
c=a+b
print(c)

(10, 20, 30, [40, 55, 60], 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [11]:
# deleting a tuple
del c
print(c)

NameError: name 'c' is not defined

In [12]:
# tuple methods
a=(1,1,1,1,1,2,3,4,5)
print(a)

(1, 1, 1, 1, 1, 2, 3, 4, 5)

In [13]:
a.count(1) # count the repeated digits

5

In [14]:
a.index(1)

0

In [17]:
# list is mutable in nature
# tuples should be used in iteration statements
# updating a tuple
a=(1,2,3,4)
b=(5,6,7,8)
c=a+b
print(c)

(1, 2, 3, 4, 5, 6, 7, 8)

In [18]:
# deleting a tuple
# we cannot delete an individual element of a tuple because it is immutable but we can delete a complete tuple at a time
a=(1,2,3,4,5)
a[1]

2

In [19]:
del a

In [21]:
# accessing the elements of a tuple
a=(1,2,3,4,5)
a[3]

4

In [24]:
a[1:3]

(2, 3)

In [25]:
a[::2] # striding in tuple

(1, 3, 5)

In [27]:
# step argument same as striding
a="Harshit"
a[0:5:2]

'Hrh'

In [28]:
a[5::-1] # reverse of a string

'ihsraH'

In [30]:
# taking user name input and print the output in reverse order
a="Abhinav"
a[8::-1]

'vanihbA'

In [36]:
# reversing a string using string formatting
b=input("Enter your name - ")
reverse=b[::-1]
print(f"reverse string is {reverse}") # printing using string formatting

Enter your name - Abhinav
reverse string is vanihbA

In [37]:
#  String methods
# len()  
# lower()
# upper()
# title() # convert first alphabets of every string in capital letters
# count()
a="abhinav"
print(len(a))

7

In [38]:
print(a.upper()) # for upper case

ABHINAV

In [39]:
print(a.lower()) # for lower case

abhinav

In [42]:
b="AbhInav PaNdey is a good boy"
t=b.title()
print(t)

Abhinav Pandey Is A Good Boy

In [45]:
print(b.count(a))

0

In [50]:
# in first line enter name of user and find its length 
# in second line count specific character
name,char=input("Enter your name and character - ").split()
print(f"length of name is{len(name)}")
print(f" character count is {name.count(char)}")

Enter your name and character - abhinavpandey n
length of name is13
 character count is 2

In [6]:
# same program as above
names,chars=input("Enter your name and char - ").split()
print(f"length of the names is {len(names)}")
print(f" character count is {names.count(chars)}")

Enter your name and char - abhinavpandey n
length of the names is 13
 character count is 2

In [13]:
# strip method
# for removing left spaces lstrip()method
# for removing right spaces rstrip()method
# for removing spaces strip()method
name="      harshit    "
dots=".............."
print(name+dots)
print(name.lstrip()+dots)
print(name.rstrip()+dots)
print(name.strip()+dots)

      harshit    ..............
harshit    ..............
      harshit..............
harshit..............

In [1]:
#replace() method
#find() method
string="she is beautiful and she is a good dancer"
print(string.replace("she","he"))

he is beautiful and he is a good dancer

In [4]:
# find() method
print(string.find("is",1))

4

In [6]:
# centre method
name="harshit"
#**harshit**
print(name.centre(9,"*"))

AttributeError: 'str' object has no attribute 'centre'