In [3]:

print("hello world")#print thre traditional hello world

hello world

In [4]:
#integer
9

9

In [7]:
#float
2.14

2.14

In [6]:
#string
"Hello python"

'Hello python'

In [8]:
#type of 12
type(12)

int

In [9]:
#type of 2.14
type(2.14)

float

In [10]:
type(12.0)

float

In [11]:
type(-1)

int

In [12]:
type(0)

int

In [13]:
type(0.56)

float

In [14]:
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [15]:
#verify that is an integer
type(2)

int

In [16]:
#convert 2 to a float
float(2)

2.0

In [17]:
#convert integer 2 to a float and check its type
type(float(2))

float

In [18]:
#casting 1.1 to integer will result in loss of information
int(1.1)

1

In [19]:
#convert a string to an integer
int('1')

1

In [20]:
bool(1)

True

In [21]:
bool(0)

False

In [22]:
float(true)

NameError: name 'true' is not defined

In [23]:
type(6/2)

float

In [24]:
type(6//2)#this is for an integer division

int

In [25]:
#multiplication operation expression
5*5

25

In [26]:
#division operation expression
7/2

3.5

In [27]:
25//6

4

In [28]:
25/6

4.166666666666667

160/60

In [29]:
160/60

2.6666666666666665

In [1]:
3%2

1

In [2]:
3.56%2

1.56

In [3]:
43+60+16+41

160

In [4]:
50-60

-10

In [5]:
160//60

2

In [6]:
x=67+56    #store the value in variable

In [7]:
print(x)

123

In [8]:
y=x//60 # storing the value in variable

In [9]:
print(y)

2

In [10]:
#name the variables meaningfully
total_min=43+42+47
print(total_min)

132

In [11]:
total_hours=total_min/60 # use good variable names
print(total_hours)

2.2

In [12]:
x=3+2*2
print(x)

7

In [4]:
name="Michael jackson"
print(name)
type(name)

Michael jackson

str

In [2]:
'1 2 3 4 5 6' # digitals and spaces in string

'1 2 3 4 5 6'

In [3]:
'michael'

'michael'

In [5]:
name

'Michael jackson'

In [6]:
print(name[0])

M

In [7]:
print(name[6])

l

In [8]:
print(name[-1])

n

In [9]:
# we can find the length of string
len(name)

15

In [10]:
# slicing in string
print(name[0:4])

Mich

In [11]:
print(name[8:12]) # slicing in string

jack

In [12]:
# stride in string
name[::2]   # 2 indicates we are using every second variable

'Mcaljcsn'

In [13]:
name[0:5:2]

'Mca'

In [14]:
# conacatenation of string
statement=name+"is the best"
print(statement)

Michael jacksonis the best

In [15]:
first_name="Abhinav"
second_name="pandey"
complete_name=first_name+second_name
print(complete_name)  #concatenation of string

Abhinavpandey

In [16]:
3*name

'Michael jacksonMichael jacksonMichael jackson'

In [17]:
4* name

'Michael jacksonMichael jacksonMichael jacksonMichael jackson'

In [18]:
5 * name

'Michael jacksonMichael jacksonMichael jacksonMichael jacksonMichael jackson'

In [19]:
#escape sequence characters
print("Michael jackson \n is the best")

Michael jackson
 is the best

In [20]:
print("Michaeljackson\nis the best ")

Michaeljackson
is the best

In [21]:
#tab use for space
print("Michael jackson \t is the best")

Michael jackson 	 is the best

In [22]:
# include backslash in the string
print("Michael jackson\\is the best")

Michael jackson\is the best

In [23]:
print("Michael jackson \\ is the best")

Michael jackson \ is the best

In [24]:
print("Michael jackson \\n is the best")

Michael jackson \n is the best

In [25]:
print(r"Michael jackson \ is the best")

Michael jackson \ is the best

In [26]:
print(r"Michael jackson \\n is the best")

Michael jackson \\n is the best

In [27]:
# convert all characters in string to upper case
A="Thriller "
B=A.upper()
print(B)

THRILLER

In [28]:
# replace characters in string
A="Michael jackson is the best"
B=A.replace('Michael','eminem')
print(B)

eminem jackson is the best

In [29]:
# finding a word in a string
name="michael jackson"
b=name.find('jack')
print(b)

8

In [30]:
stat="this movie is good i hope youn will also enjoy"
substr="good"
stat.find(substr)

14

In [31]:
# if cannot find the substring
name.find("jasadfasaddf")

-1